.modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 158px;

  &-result-game {
    width: 400px;
    height: 410px;
    border-radius: 12px;
    background: #c2f5ff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px;
  }
  &__img {
    width: 96px;
    height: 96px;
  }
  &__heading {
    color: #004980;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: StratosSkyeng, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    padding-top: 9px;
    padding-bottom: 28px;
  }
  &__text {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }
  &__time {
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
