@font-face {
  font-family: StratosSkyeng;
  src: url("../static/fonts/stratosskyengweb-light.woff");
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #004980;
  font-family: StratosSkyeng, sans-serif;
}

.center {
  padding-left: calc(50% - 250px);
  padding-right: calc(50% - 250px);
}

.top {
  padding-top: 158px;
}

.box {
  &-game {
    width: 480px;
    height: 459px;
    border-radius: 12px;
    background: #c2f5ff;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    gap: 48px;

    &__title {
      color: #004980;
      text-align: center;
      font-variant-numeric: lining-nums proportional-nums;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 48px;
    }

    &__button {
      background-color: #7ac100;
      width: 246px;
      height: 50px;
      color: #fff;
      align-self: center;
      font-variant-numeric: lining-nums proportional-nums;
      font-family: StratosSkyeng, sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      border: none;
      border-radius: 12px;
      transition: all 0.2s;
      &:hover {
        transform: scale(1.1);
        border: 2px solid #fff;
      }
    }
  }

  &-difficulty-level {
    display: flex;
    gap: 26px;

    &__button {
      width: 98px;
      height: 98px;
      border-radius: 12px;
      border: none;
      color: #0080c1;
      text-align: center;
      font-family: StratosSkyeng, sans-serif;
      font-size: 64px;
      font-style: normal;
      font-weight: 400;
      line-height: 72px;
      background-color: #fff;
    }

    &__radio {
      display: none;

      &:checked + label {
        background-color: #004980;
        border: 3px solid #004980;
        color: #fff;
        transform: scale(1.2);
      }
    }

    &__label {
      width: 98px;
      height: 98px;
      border-radius: 12px;
      border: none;
      color: #0080c1;
      font-family: StratosSkyeng, sans-serif;
      font-size: 64px;
      font-style: normal;
      font-weight: 400;
      line-height: 72px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;

      &:hover {
        background-color: #c4e8f0;
        border: 1px solid #004980;
        transform: scale(1.1);
      }
    }
  }
}

@import "card-game";
@import "modal-result-game";
